<h2 class="screen-align">CreateDetails</h2>
<div id="template-imf7" class="row">
    <div id="template-ipnt" class="cell">
        <label id="template-ic3x" class="label">Roll_No</label>
        <input id="template-igrc" class="input form-control" />
    </div>
    <div id="template-ihl3z" class="cell">
        <label id="template-ih41" class="label">Address</label>
        <input id="template-i9q9" class="input form-control" />
    </div>
    <div id="template-i832" class="cell">
        <label id="template-i7uh" class="label">Phone</label>
        <input id="template-isfp" class="input form-control" />
    </div>
</div>
<button id="template-i3jjf" class="button btn btn-primary">Create</button>